name: XRT Preflight Windows Build

env:  
  RELEASE: '2026.1'  
  PIPELINE: 'xrt' 
  ENV: 'test' 

on:
  pull_request_target:
  workflow_dispatch:
  workflow_call:

concurrency:  
  group: ${{ github.workflow }}-${{ github.event.pull_request.head.ref || github.ref }}
  cancel-in-progress: true 
  
jobs:
  authorize:
    if: github.event_name == 'pull_request_target'
    runs-on: [self-hosted, Ubuntu-22.04]
    steps:
      - name: Checkout private repository      
        uses: actions/checkout@v4   
        with:      
          repository: actions-int/composite-workflows
          github-server-url: ${{ secrets.SERVER_URL }}      
          token: ${{ secrets.ACCESS_TOKEN }}      
          path: composite-workflows
          ref: main

      - name: authorize
        uses: ./composite-workflows/authorize
        with:
          app-id: ${{ secrets.XRT_APP_ID }}
          app-private-key: ${{ secrets.XRT_APP_PRIVATE_KEY }}
          pullRequestUser: ${{ github.event.pull_request.user.login }}

  windows-build:
    needs: [authorize]
    if: always() && (needs.authorize.result == 'success' || needs.authorize.result == 'skipped')
    runs-on: [self-hosted, winp]
    steps:
      - name: Checkout XRT repository   
        uses: actions/checkout@v4 
        with: 
          repository: "Xilinx/XRT"
          ref: "master"
          fetch-depth: 0
          path: ${{ github.workspace }}/${{ github.run_number }}  
          submodules: recursive
          persist-credentials: false
            
      - name: Checkout private repository      
        uses: actions/checkout@v3   
        with:      
          repository: actions-int/composite-workflows
          github-server-url: ${{ secrets.SERVER_URL }}      
          token: ${{ secrets.ACCESS_TOKEN }}      
          path: composite-workflows 
          ref: main
       
      - name: XRT windows build     
        uses: ./composite-workflows/windows-build
        with:     
          workspace: ${{ github.workspace }}/${{ github.run_number }}/build   
          buildNumber: ${{ github.run_number }}    
          release: ${{ env.RELEASE }}
          accessToken: ${{ secrets.ACCESS_TOKEN }} 
          workspaceg: ${{ github.workspace }}
          github-server-url: ${{ secrets.SERVER_URL }}
          build-cmd: "build22.bat -opt -hip"
          vs-version: "2022"
